@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
}
html {
    font-size: 62%;
    overflow-x: hidden;
}
body {
    background-color: rgb(58, 41, 98);
    color: white;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* header style*/
.header-bar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 7;
    padding: 1.7rem 9%;
    width: 100%;
    background: rgb(63, 35, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.logo:hover{
  color: rgb(208, 161, 255);
}
.navbar a {
    font-size: 1.7rem;
    margin-left: 3.5rem;
    color: white;
    cursor: pointer;
}
.navbar a:hover,
.navbar a.active {
    color: rgb(208, 161, 255);
}
#hmb-menu {
    font-size: 3.5rem;
    color: white;
    display: none;
}
/*  home-section style*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.home-img img {
    width: 35vw;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
}
.home-content h1 {
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 5rem;
}
.home-content span {
    color: rgb(207, 139, 249);
}
.home-content a,.submit {
    cursor: pointer;
    background-color: rgb(191, 122, 252);
    border-radius: 21px;
    padding: 1rem 2rem;
    color: rgb(235, 234, 234);
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .1 rem;
    box-shadow: 0 0 1rem rgb(153, 75, 187);
    transition: 0.2s ease-in-out;
    margin-top: 1.7rem;
}
.home-content a:hover, .submit:hover {
    background-color: rgb(228, 93, 221);
    color: rgb(69, 6, 69);
    box-shadow: 0 0 0.8rem rgb(207, 99, 240);
}
/* ---About section-style*/
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.3rem 0;
}
#about{
    background:rgb(87, 34, 151)
}
.abt-img {
    flex-basis: 15%;
}
.abt-img img {
    width: 37vw;
}
.about-content {
    width: 60vw;
    flex-basis: 47%;
}
.about-content h1 {
    text-align: left;
    font-size: 4.5rem;
}
.about-content p {
    font-size: 1.4rem;
    margin: 0.7rem 0rem;
}
.headings {
    display: flex;
    margin: 1rem 0;
}
.about-links {
    margin-right: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: white;
}
.about-links:hover {
    color: rgb(201, 44, 180);
}
.about-links.active {
    color: rgb(201,44,189);
}
.contents ul li {
    color: rgb(179, 140, 230);
    font-size: 1.5rem;
    list-style: none;
    margin: 1.4rem 0;
}
.contents ul li span {
    color: white;
}
.contents {
    display: none;
}
.contents.active-content {
    display: block;
}
/* -- skill-section */
.title {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: 500;
} 
#skill{
    background-color: rgb(69, 52, 105);
}
.skills-container {
    padding: 2rem;
    width: 50vw;
    height: 60vh;
    background-color: rgb(231, 229, 229);
    color: rgb(167, 18, 231);
    margin: 1.8rem auto;
    border-radius: 13px;
}
.skills-container .bars {
    width: 100%;
    height: 8%;
    margin: 1.5rem 0;
    padding: 1.8rem;
}
.bars .info {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(55, 13, 132);
}
.bars .progress-bg {
    height: 1.2rem;
    background-color: rgb(185, 179, 179);
    border-radius: 7px;
}
.html-bg {
    border-radius: 7px;
    background-color: green;
    width: 80%;
    height: 1.2rem;
}
.css-bg {
    border-radius: 7px;
    background-color: red;
    width: 65%;
    height: 1.2rem;
}
.Javascript-bg {
    border-radius: 7px;
    background-color: blue;
    width: 67%;
    height: 1.2rem;
}
.Bootstrap-bg {
    border-radius: 7px;
    background-color: rgb(230, 43, 130);
    width: 85%;
    height: 1.2rem;
}
.ReactJs-bg {
    border-radius: 7px;
    background-color: rgb(255, 119, 0);
    width: 40%;
    height: 1.2rem;
}
.skills-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem auto;
}
.progress {
    opacity: 0;
    animation: prog 2s ease-in-out forwards;
}
@keyframes prog {
    0% {
        width: 0;
        opacity: 1;
    }
   100% {
      opacity: 1;
    }
}
/* -- projects-section style*/
#projects {
    background-color: rgb(41, 24, 71);
}
.project-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.3rem;
    margin-top: 2rem;
}
.project-content .project-item {
    position: relative;
}
.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 0.2rem 0;
}
.project-item .hover-project {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0.1, .07), rgb(152, 30, 234));
    left: 0;
    top: 0;
    border-radius: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease-in-out;
}
.hover-project h3 {
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
    color: white;
    font-weight: 500;
}
.icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 212, 212);
    border-radius: 50%;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 2.8rem;
    color: black;
    margin: 0 1rem;
}
.icon:hover {
    background-color: black;
    color: white;
}
.project-item:hover .hover-project {
    opacity: 1;
    transform: scale(1);
}
/*  -- contact section-style*/
#contact {
    background-color: rgb(73, 66, 94);

}
.contact form {
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 3rem;
    max-width: 60rem;
}
.contact .form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-input input, textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(43, 41, 41);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact textarea {
    resize: none;
}
.contact .submit {
    cursor: pointer;
    margin-top: 0.7rem;
}
/*--footer-style--*/
.footer-icon a {
    float: right;
    margin: .8rem 2rem;
    padding: .5rem;
    background-color: rgb(62, 26, 62);
    border-radius: .4rem;
    box-shadow: 0 0 1.2rem 0 rgb(172, 101, 200);
}
.footer-icon a i {
    font-size: 2.2rem;
    color: rgb(214, 203, 227);
}
/*------------ media queries-----*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    #project {
        padding-bottom: 7rem;
    }
    footer {
        padding: 2rem 3%;
    }
    .contact {
        min-height: auto;
    }
}
@media (max-width: 768px) {
    #hmb-menu {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background: rgb(36, 12, 71);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 50vw;
        margin-top: -3rem;
    }
   .about-content {
        width: 34vw;
        margin: 0rem;
    }
    .abt-img img {
        width: 49vw;
        margin-top: 3rem;
    }
    .project-content {
        grid-template-columns: repeat(2, 1fr);
        margin: 1.5rem;
    }
    .skills-container {
        padding: 3rem;
        width: 67vw;
        height: 54vh;
    }
}
@media (max-width:617px) {
    .project-content {
        grid-template-columns: 1fr;
        margin: 1.5rem;
    }
}
@media (max-width: 460px) {
    html {
        font-size: 50%;
    }
   .project {
        width: 107%;
    }
    .abt-img {
        flex-basis: 15%;
        margin-top: -4rem;
    }
    .about-content {
        width: 60vw;
        flex-basis: 64%;
        padding: 3rem;
    }
    .contact {
        width: 107%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    .project {
        width: 108%;
    }
    .abt-img {
        flex-basis: 15%;
        margin-top: -6rem;
    }
    .about-content {
        width: 65vw;
        flex-basis: 64%;
        padding: 2rem;
     }
    .skills-container {
        padding: 1rem;
        width: 85vw;
        height: 43vh;
    }
}